{#
/**
 * @file dinosaur.html.twig
 * Default theme implementation to present Dinosaur data.
 *
 * This template is used when viewing Dinosaur pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dinosaur()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dinosaur') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
